html body {
    margin: 0;
    width: 100vw;
}

.masthead {
    height: 90vh;
    min-height: 350px;
    background-image: url("../images/bluebg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.post-header {
    padding-top: 3em;
    padding-bottom: 1em;
}

.post {
    text-align: center;
    margin: 2em auto;
}

.link-unstyled:hover {
    text-decoration: none;
    color: skyblue;
}

.feeds {
    max-height: 80vh;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
}

.feeds::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* Chrome/Safari/Webkit */
}


/* Track */

.feeds::-webkit-scrollbar-track {
    width: 0px;
    background: transparent;
}

.feed {
    min-height: 35vh;
}

@media only screen and (min-width: 768px) {
    .code {
        min-width: 22em;
    }
}

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}