<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Algebra's Palace Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/css/adminall.css" />
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-light bg-light navbar-expand-md pb-4 pt-4 shadow fixed-top" style="opacity: 0.95;">
        <div class="container">
            <a class="navbar-brand mr-auto" href="/">
                <img src="/static/images/logo.png" class="d-inline-block mr-2" width="30" height="30" alt="" />
                <div class="d-inline-block mr-1">
                    Algebra's <span><b>PALACE</b></span>
                </div>
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ml-4">
                        <a href="/" class="nav-link"> Home </a>
                    </li>
                    <li class="nav-item ml-4">
                        <a href="#" class="nav-link">Feeling lucky</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END of navbar -->


    <header class="masthead">
        <div class="container h-50">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light">
                        Are you 100% sure?
                    </h1>
                    <param class="font-weight-light"> There's no going back!
                    </p>
                </div>
            </div>
        </div>
    </header>



    <div class="container shadow p-0 rounded">
        <ul class="nav container-fuild nav-tabs bg-light">
            <li class="nav-item">
                <a class="nav-link" href="/admin">Write Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/edit">Your Posts</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active">Delete #{{.Id}}?</a>
            </li>
        </ul>

        <div class=" delete-control container-fluid bg-white shadow">
            <div class="container text-md-center">
                <h5>Are you sure?</h5>
                <p class="font-weight-light">You want to delete your work titled:
                    <strong class="font-weight-bold">{{.Title}}</strong> ?
                </p>

            </div>
            <div class="container-fluid align-bottom text-center">

                <form action="" method="POST" class="form-group mt-5 p-3" id="post">
                    <div class="btn-group">
                        <input type="hidden" name="id" id="id" value="{{.Id}}">
                        <a href="/admin/edit" class="btn btn-primary"> No</a>
                        <div class=""></div>
                        <button type="submit" class="btn btn-light square">YES</button>
                    </div>
                </form>
            </div>
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js " integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js " integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 " crossorigin="anonymous "></script>
</body>

</html>

</html>

</html>