<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Algebra's Palace</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>

    <!-- navbar -->

    <nav class="navbar navbar-light bg-light navbar-expand-md pb-4 pt-4  shadow fixed-top" style="opacity: 0.95">
        <div class="container">
            <a class="navbar-brand mr-auto " href="/">
                <img src="static/images/logo.png" class="d-inline-block mr-2" width="30" height="30" alt="" />
                <div class="d-inline-block mr-1 ">
                    Algebra's <span><b>PALACE</b></span>
                </div>
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse  navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ml-4">
                        <a href="/" class="nav-link"> Home </a>
                    </li>
                    <li class="nav-item ml-4">
                        <a href="#" class="nav-link">Feeling lucky</a>
                    </li>
                    <li class="nav-item ml-4">
                        <a href="#" class="nav-link">My GitHub</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item mr-4 ml-4">
                        <a href="/admin" class="nav-link ">Admin Page</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- END of navbar -->


    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <img src="static/images/logo.png" alt="logo" class="mb-2" style="width: 8em;" />
                    <h1 class="font-weight-light">Algebra's palace</h1>
                    <p class="lead">
                        The most exciting blog provable by
                        <span class="badge badge-light p-2">MATH</span>
                    </p>
                </div>
            </div>
        </div>
    </header>


    <!-- post header -->
    <div class="jumbotron text-center post-header">
        <h3>Awesome Poetry!</h3>
        <p class="lead">
            <span class="p-2 mb-1">
            Written by our talented admins
          </span>
        </p>
    </div>

    <div class="container p-0 justify-content-center  ">

        <div class="container row feeds p-xs-0 p-0 p-lg-3 overflow-auto justify-content-center">

            <!-- feed -->
            {{range .}}
            <div class="card col-12 col-md-5 col-lg-3 feed shadow bg-white rounded p-3 mt-4 ml-1 m-md-5 text-left">
                <!-- <img src="static/images/bluebg.jpg" class="img-thumbnail" alt="..."> -->
                <h4 class="card-title m-3 mb-4">{{.Title}}</h4>
                <div class="card-body">
                    {{range .Verses}}
                    <p class="card-text font-weight-lighter">{{.}}</p>
                    {{end}}
                </div>
                <!-- <p class="card-text font-weight-light">............</p> -->
                <a href="/content/{{.Id}}" class="card-link ml-3 mb-2 stretched-link">Read all</a>
            </div>
            <!-- end of feed -->
            {{end}}
            <div class="mb-4"></div>
        </div>
    </div>


    <!-- contact -->
    <div class="jumbotron text-center mb-0 mt-5">
        <div class="container">
            <h3>About Me!</h3>

            <div class="row mb-4" style="margin-top: 5em">
                <div class="col-md-6 mt-md-0">
                    <p class="text-justify" style="line-height: 2.1">
                        Let me first get this out of the way: I LOVE PHYSICS. That said, my hobby is actually coding. i code when i have a day off, at weekends, even at weekdays; sometimes ignoring my actual jobs like homeworks and stuff. Im gonna take Physics in university.
                        A i live here in Berlin Germany. i am hoping with my coding skills i can land a part-time job as a developer.
                    </p>
                </div>
                <div class="col-md-3 mb-md-0 mb-3 card text-center code">
                    <blockquote class="blockquote text-justify">
                        <p class="mb-0 mt-0">
                            <pre><code>
      while(alive){
        if(hasFreeTime) 
          code();                
        else 
          thinkAboutCoding();
        }
      die();</code></pre>
                        </p>
                        <footer class="blockquote-footer" style="margin-top:1em">
                            <cite title="Source Title">My life summarized in java code</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>


    <!-- FOOTER -->
    <footer class="page-footer font-small bg-dark mb-0" style="color: #e9ecef; padding-bottom: 4em ;  padding-top: 4em;">
        <div class="container text-center text-md-center">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">
                    <!-- Content -->
                    <h5 class="text-uppercase">It seems like this is the end</h5>
                    <p>
                        i know. i know you want more.

                        <small>someday there'll be more !
            <span class="badge badge-light p-1">i promise</span></small>
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3" />

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
                    <!-- Links -->
                    <h5 class="text-uppercase">here is a few things to do!</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a style="color: 	#008689" href="https://github.com/explore">browse GitHub</a>
                        </li>
                        <li>
                            <a style="color: 	#008689" href="https://www.youtube.com/?feature=ytca">Watch Youtube</a>
                        </li>
                        <li>
                            <a style="color: 	#008689" href="https://www.reddit.com">Read reddit</a>
                        </li>
                        <li>
                            <a style="color: 	#008689" href="https://www.youtube.com/channel/UC-lHJZR3Gqxm24_Vd_AJ5Yw">SUB to
              pewdiepie</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
    </footer>

    <!-- FOOTER ends -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>